body {
    background-color: #f4f6f9;
}

.card {
    border-radius: 12px;
}

.sampul-img {
    width: 60px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
}

.table thead th {
    border: none;
}

.table tbody tr:hover {
    background-color: #f1f7ff;
    transition: 0.2s;
}

.input-group-text {
    border-radius: 30px 0 0 30px;
}

input.form-control {
    border-radius: 0 30px 30px 0;
}


footer {
    margin-top: 60px;
}
